tick-tick-common/src/main/resources/META-INF/fileAccessor.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.mine.org/schema/fileAccessor"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.mine.org/schema/fileAccessor"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />

    <xsd:element name="fileAccessor">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="name" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>